.article {
  border-bottom: 2px solid #eaf7ff;
  display: flex;
  padding: 10px 16px;
}

.article:hover {
  background: #f5f8fa;
  cursor: pointer;
}

.container {
  padding-right: 10px;
}

.paragraph {
  margin: 0;
  line-height: 1.3125;
}

.date {
  color: #555;
  font-size: 12px;
}

.img {
  border-radius: 10px;
  height: auto;
  width: 100%;
  margin-top: 8px;
}

.link {
  color: --var(--primary);
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}